.content{
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(206, 206, 206);
    z-index: 10;
    position: relative;
    max-width: 600px;
}

body{
    margin: 0;
    height: 83vh;
    font-size: large;
    background-color: rgba(29, 28, 28, 0.277);
    
}


h5{
    margin-bottom: 10px;

    font-weight: 100;
}
.button{
    margin-top: 10px;
    background-color: rgba(240, 248, 255, 0);
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 5px;

}
