<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <center>
      <div class="content">
        <h1>Search Engine</h1>
        <form action="/results" method="post">
          <h5>Enter your Query:</h5>
          <textarea id="Query" name="Query" rows="3" cols="50"></textarea><br />
          <input class="button" type="submit" value="Submit" />
        </form>
      </div>
    </center>
  </body>
</html>
